/*#page-wrap::after {
  content: "Smartphone Layout";
}*/
h1 span, section h2 {
  display: none;
}
body {
  font-size: x-large;
}
footer, input {
  font-size: large;
}
section {
  min-height: 400px;
}
.tx-normal {
  font-size: 0.7em;
}
.btn {
  font-size: large;
}
