* {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font: 16px Georgia, serif;
}
  /*font-family: 'Open Sans';
  font-size: 14px;
  background-color: #fff;
  padding: 50px;
  color:#202070;}*/
#page-wrap {
  margin: 2% auto;
  color: white;
}
#page-wrap > .main {
  /*border-top: 1px solid red;*/
  border-bottom: 1px solid red;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
}
section > div {
  padding: 20px;
}
header, nav, section {
  text-align: center;
}
section {
  min-height: 200px;
}
footer {
  clear:both;
  font-family: 'Oxygen', sans-serif;
  /*width: 450px;*/
  background-color:#E0E0E0;
  color:#3030A0;
  text-align:center;
  /*font-size:x-small; */
  padding:10px;
  /*border:5px solid gray;*/
  /*margin:10px;*/
  margin-bottom: 30px;
}
footer span {
  font-size: 18px;
}
nav span {
  margin: 0px 10px 0px 0px;
}
a {
  text-decoration:none;
  color:#6060FF;
}
a > img {
  width: 24px;
}
nav {
  margin-bottom: 15px;
  padding: 10px;
}
#s1 {
  clear:right;
  background-color: #f8eeeb;
  /*width: 300px;*/
  /*height: 160px;*/
  padding: 20px;
}
#s1 p {
  margin: 10px;
}
/*.space {
  margin-top: -16px;
}*/
.author {
  margin-top: 15px;
}
.avatar {
  /*display: float;*/
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  margin-left: 10px;

}
.creditos {
  /*display: float;*/
  text-align: left;
  margin: 10px;
}
.t2 {
  padding-bottom: 20px;
}
.tb-center {
  margin: auto;
}
.tx-left {
  text-align: left;
}
.shadow {
    -moz-box-shadow: 3px 3px 8px #111;
    -webkit-box-shadow: 3px 3px 8px #111;
    box-shadow: 3px 3px 8px #111;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}
