<div class="column">
<form method="get" action="/quizes?search=search">
  Buscar pregunta
  <input type="text" name="search" placeholder="texto a buscar" value="">
  <input type="submit" value="Enviar">
</form>
<a href="/quizes/new">
  <button class="btn" type="button">Crear pregunta</button>
</a>
</div>
<div class="column">
<table class="tb-center tx-left">
  <% var i; for (i=0; i < quizes.length; i++) {%>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
      </td>
    </tr>
  <% } %>
</table>
</div>
