<p></p>
<form method="get" action="/quizes?search=search">
  Buscar pregunta
  <input type="text" name="search" placeholder="texto a buscar" value="">
  <input type="submit" value="Enviar">
</form>
<p></p>
<table class="tb-center tx-left">
  <% var i; for (i=0; i < quizes.length; i++) {%>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
      </td>
    </tr>
  <% } %>
</table>
